* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #8d8e93;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
.w {
  width: 81.25rem;
  margin: 0 auto;
}
body{
  overflow-x: hidden;
}
header {
  height: 3.125rem;
}
header .jk {
  position: absolute;
  top: 0;
  left: 0;
}
header ul li {
  float: left;
  margin-right: 1.875rem;
  font-size: 1.125rem;
  line-height: 3.125rem;
}
header .kj {
  float: right;
  width: 1.875rem;
  margin-top: .625rem;
}
.lk {
  width: 106.625rem;
}
.dly {
  position: absolute;
  top: 5rem;
  right: 6.25rem;
  width: 23.75rem;
  height: 26.375rem;
  padding: 1.875rem;
  background-color: rgb(255, 255, 255);
}
.dly img {
  position: absolute;
  top: 0;
  right: 0;
}
.dly .kl {
  margin-top: 2.5rem;
}
.dly input {
  display: block;
  width: 20.9375rem;
  height: 3.4375rem;
  margin-top: 1.25rem;
  padding-left: 1.25rem;
  border: .0625rem solid rgba(100, 93, 93, 0.279);
  outline-color: red;
}
#ok {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-top: 1.875rem;
  margin-right: .625rem;
}
.dly span {
  font-weight: 900;
}
.dly button {
  width: 22.625rem;
  height: 3.4375rem;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  border: .0625rem solid transparent;
  margin-top: 1.25rem;
}
.dly .gh {
  margin-top: 1.25rem;
}
.dly h4 {
  color: rgb(203, 45, 45);
  font-weight: normal;
  display: inline-block;
}
.dly .gh .fj {
  display: inline-block;
  position: absolute;
  top: 23.75rem;
  right: 2.8125rem;
  margin-left: 14.25rem;
  color: rgba(117, 102, 102, 0.696);
}
.dly .ty {
  position: absolute;
  top: 27.5rem;
  left: 0;
  width: 27.5rem;
}
.ct {
  margin-top: 1.875rem;
}
.ct div {
  text-align: center;
  margin-top: .625rem;
}
.qw,.wq{

  color: brown;
  font-weight: 100;
  padding-top: 0rem;
  margin-left:0rem;
}